@font-face {
	font-family: jandaScript;
	src: url(janda_stylish_script/JandaStylishScript.ttf);
}

@font-face {
	font-family: aLittleSunshine;
	src: url(a_little_sunshine/a_little_sunshine.ttf);
}

@font-face {
	font-family: monkeyScratches;
	src: url(djb_monkey_scratches/djb_monkey_scratches.ttf);
}

@font-face {
	font-family: simon_script;
	src: url(simon_script/SimonScript.ttf);
}


@font-face {
	font-family: bergamot;
	src: url(bergamot/Bergamot_Ornaments.ttf);
}


h1 {
	font-family: simon_script;
	font-size: 500%;
	font-variant: small-caps;
	margin-left: 50px;
}

h2 {
	font-family: jandaScript;
	font-size:250%;
	text-align: center;
}

nav {
    width: 100%;
    background: #f0f0f0;
    /*background-image: url("images/burlap_cropped.jpg");*/
    /*height:150px;*/
    border: 1px solid #ccc;
    border-right: none;
}
 
nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
 
nav ul li {
    list-style: none;
    float: left;
    text-align: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #ccc;
    width: 16.6667%; /* fallback for non-calc() browsers */
    width: calc(100% / 6);
    box-sizing: border-box;
}
 
nav ul li:first-child {
    border-left: none;
}
 
nav ul li a {
    display: block;
    text-decoration: none;
    color: #616161;
    padding: 10px 0;
    font-family: aLittleSunshine;
    font-variant: small-caps;
    font-size: 150%;
}
